/dasCoreDatum/nbproject/private
/dasCoreUtil/nbproject/private
/dasCore/nbproject/private
/QDataSet/nbproject/private
/QStream/nbproject/private
/dasCoreDatum/build/
/dasCoreDatum/dist/
/dasCoreUtil/build/
/dasCoreUtil/dist/
/QDataSet/build/
/QDataSet/dist/
/dasCore/build/
/dasCore/dist/